header {
	background-image: url('../img/smartphone-at-the-beach.jpg');
	height: 100vh;
	background-size: cover;

}

.header-logo-container {
	text-align: center;
}

#header-image {
	height: 225px;
}

.header-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-info-container {
	text-align: center;
/* 	width: auto; */
	padding-top: 15px;
}

.header-name {
	font-size: 55px;
	color: white;
	text-shadow: 2px 2px #000;
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	margin-bottom: 0;
}

.header-description {
	color: yellow;
	text-shadow: 2px 2px 8px #000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	margin-top: 0;
}

/* .header-description > .word-developer {
	text-shadow: 1px 3px #000;
} */

#word-developer {
	/* color: #003399; */
}

/* .section-container {
	width: 67%;
	margin: 35px auto 0;
} */

.content-works {
	display: flex;
	flex-direction: column;
	padding: 0 0 15px;
}

.section-title-container {
	width: 86%;
	padding-left: 14%;
/* 	background-color: #d9d9d9; */
}

.section-title {
	color: gray;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-weight: 100;
	margin-bottom: 0;
}

.deck {
	display: flex;
	flex-direction: row;
	margin: 10px 10% 0;
}

.work-card {
	display: flex;
	flex-direction: column;
	width: 33%;

}

.work-title-container {
	width: 100%;
	text-align: center;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

.title {
	font-weight: 500;
}

.work-image {
	width: 90%;
	margin: 0 10%;
}

footer {
	text-align: center;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 25px;
	background-color: #f0f5f5;
	margin: 0;
	padding: 1px 0;
	color: black;
	text-shadow: 1px 1px 2px #334d4d;
	font-weight: 100;
}

/* .year {
	font-size: 15px;
} */