#header-image {
	height: 160px;
}

.header-name {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px #000;
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	margin: 0;
}

.header-description {
	font-size: 18px;
	color: yellow;
	text-shadow: 2px 2px 8px #000;
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	font-weight: 100;
	margin-top: 0;
}

section {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.title-container {
	position: relative;
	width: 100%;
	height: 25px;
	padding: 0;
	margin: 0;
	background-color: white;
	z-index: auto;

	display: flex;
	justify-content: center;
}

.section-title {
	color: white;
	text-shadow: 2px 2px 2px #334d4d;
	font-size: 90px;
	font-weight: 100;

	padding: 0;
	z-index: -4;
}

.deck {

	width: 100%;
	max-width: 1265px;
  display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
	position: relative;
	padding: 0;
}

.work-card {
	position: relative;
	width: 98.6%;
	margin: 0 0.7% 1.4%;
	height: 75vh;
}

/*

*/
