section {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.content-works {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	z-index: auto;


}

.deck {
	height: inherit;
	width: 100%;
	max-width: 1265px;
  display: inline-flex;
	flex-direction: row;
  flex-wrap: wrap;
	/* flex: auto; */
	margin: 0;
	text-align: center;
	position: relative;
	padding: 0;
}

.work-card {
	position: relative;
	width: 48.6%;
	margin: 0 0.7% 20px 0.7%;
	height: 75vh;
	max-height: 470px;
	padding: 0;
}


/*

*/
